/*
OpenBooks 8 Series
Style Version: 1.0
*/

@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i,';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,700';

body {
    color: #141516;
    background-color: #2c81b8;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: #6c7275;
    font-size: 36px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: #4f7ebe;
    font-size: 24px;
    font-weight: 400;
}
h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6c7275;
    margin-bottom: 8px;
}
p {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 10px;
}
#copy {
    text-indent: 15px;
}
#grey {
    color: #6c7275;
}
#code {
    color: #6c7275;
    font-family: monospace;
    font-size: 12px;
    background-color: rgba(43, 30, 30, 0.125);
    padding: 4px;
    padding-left: 8px;
    border-radius: 4px;
    margin-right: 20px;
}
a:link {
    color: #2c81b8;
    text-decoration: underline;
}
a:visited {
    color: #2c81b8;
    text-decoration: underline;
}
a:hover {
    color: #6ab0d5;
    text-decoration: underline;
}
a:active {
    color: #141516;
    text-decoration: underline;
}
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
.tbl table {
	border-collapse: collapse;
	margin-top: 4px;
	margin-bottom: 4px;
}
.tbl th {
	font-weight: bold;
	color: #668;
	text-align: center;
	font-size: 14px;
}
.tbl th, .tbl td {
    border-bottom: 1px solid #ddd;
	padding: 4px;
}
.tbl tr:nth-child(even) {background-color: #f5f5f5}
.page {
    background-color: #e6f1f7;
    background-image: url(img/bg2.png);
    background-repeat: no-repeat;
    outline: 1px solid #206089;
    min-height: 100vh;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.navbar {
    background-color: #313131;
    color: #9a9a9a;
    box-shadow: 0px 1px 0px #206089;
    max-width: 760px;
    height: 26px;
}
.navbar ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    float: left;
}
.navbar ul.right {
    float: right;
}
.navbar li {
    float: left;
    margin: 0em;
}
.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #9a9a9a;
    border-top: 1px solid rgba(0,0,0,0);
    margin: 0 5px 0 0;
    padding: 2px 8px 5px 8px;
}
.navbar li a:hover {
    text-decoration: underline;
}
.navbar li a.current {
    border-top: 1px solid #fff;
}
.column {
    float: left;
}
.left {
    width: 500px;
}
/*.right {
    width: 260px;
}*/
.header {
    background-image: url(../../img/header.png);
    width: 475px;
    height: 100px;
    margin-left: 20px;
}
#navbox {
    background-color: #f4f6f8;
    width: 190px;
    /*min-height: 200px;*/
    margin: 30px 30px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.125);
    border: 1px solid #9caab4;
    border-radius: 0 0 8px 8px;
}
.navboxheader {
    height: 22px;
    width: 183px;
    background: #a5b4c2;
    background: -moz-linear-gradient(top, #a5b4c2 0%, #b7c6d4 50%, #91a1b3 51%, #91a1b3 51%, #708090 100%);
    background: -webkit-linear-gradient(top, #a5b4c2 0%,#b7c6d4 50%,#91a1b3 51%,#91a1b3 51%,#708090 100%);
    background: linear-gradient(to bottom, #a5b4c2 0%,#b7c6d4 50%,#91a1b3 51%,#91a1b3 51%,#708090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5b4c2', endColorstr='#708090',GradientType=0 );
    color: #f4f6f8;
    font-size: 12px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 1px 2px rgba(43, 30, 30, 0.4);
    padding-left: 5px;
    padding-top: 4px;
    margin: 0;
    border: 1px solid #c8d1e0;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
.navboxfooter {
    height: 12px;
    width: 183px;
    background: #a5b4c2;
    background: -moz-linear-gradient(top, #a5b4c2 0%, #b7c6d4 50%, #91a1b3 51%, #91a1b3 51%, #708090 100%);
    background: -webkit-linear-gradient(top, #a5b4c2 0%,#b7c6d4 50%,#91a1b3 51%,#91a1b3 51%,#708090 100%);
    background: linear-gradient(to bottom, #a5b4c2 0%,#b7c6d4 50%,#91a1b3 51%,#91a1b3 51%,#708090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5b4c2', endColorstr='#708090',GradientType=0 );
    padding-left: 5px;
    padding-top: 4px;
    margin: 0;
    border: 1px solid #c8d1e0;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 6px 6px;
}
.navboxcontent {
    width: 170px;
    padding: 10px;
}
#navbox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbox li {
    margin-bottom: 4px;
    padding: 0;
}
#buttons {
    text-align: center;
    width: 190px;
    margin: 30px 30px;
}
#buttons img {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
}
.newsticker {
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    padding-left: 20px;
    max-width: 490px;
    overflow: hide
}
.newsticker a {
    color: white;
}
.newsticker a:hover {
    color: #ffde43;
}
.content {
 padding-left: 20px;
 max-width: 490px;
 overflow: hide
}
.homenav {
    margin-top: 20px;
    margin-bottom: 20px;
}
.icons {
    text-align: center;
}
#footer {
    background-color: #2c81b8;
    background-color: rgba(44,129,184,0.25);
    /*color: #f4f6f8;*/
    padding: 6px;
    border-radius: 6px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}
