/* columns css lmao */
body {
  background-image: url(img/colbg.png);
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  margin-left: 10px;
}
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    z-index: 100;
}
p {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 400;
  margin-left: 10px;
}
h1 {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 400;
  font-style: oblique;
  color: #5b7aa4;
  text-shadow: 2px 2px #CCC
}
h2 {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 700;
}
h3 {
  font-size: 10px;
  margin: 0px;
  color: #888;
  text-indent: 20px;
  font-weight: 400;
  font-style: oblique;
}
a:link {
	color: #000;
  text-decoration: none;
}
a:visited {
	color: #000;
  text-decoration: none;
}
a:hover {
	color: #000;
  text-decoration: underline;
}
a:active {
	color: #000;
  text-decoration: underline;
}