/*
  holoBoxes
  Callout boxes and the like
*/

.holo-callout {
  margin: 1em 0em 1.5em 0em;
  padding: .8em;
  border: 1px solid rgba(200,200,200,0.3);
  border-radius: 0;
  position: relative;
  color: #444;
  background-color: rgba(200,200,200,0.2);
  transition-duration: .4s;
}

.holo-callout:hover {
  background-color: rgba(200,200,200,0.08);
}

.holo-callout > :first-child {
  margin-top: 0;
}

.holo-callout > :last-child {
  margin-bottom: 0;
}
