/*
  holoCode
  Useful stuff for nerds
*/

.holo-code {
  background-color: #EEE;
  border-radius: 2px;
  font-family: 'Menlo','Consolas', 'Lucida Console', monospace;
  font-size: 1em;
  padding: 0.1em 0.5em;
  margin: 0em;
  font-size: 0.8em;
}

.holo-codeblock {
  display: block;
  margin: 1em 0em 1.5em 0em;
  padding: .8em;
  border: 1px solid rgba(200,200,200,0.3);
  border-radius: .4em;
  position: relative;
  color: #888;
  font-family: 'Menlo','Consolas', 'Lucida Console', monospace;
  background-color: rgba(200,200,200,0.2);
  overflow-x: auto;
}

.holo-codeblock.shell {
  /*border: 1px solid #001519;*/
  border: 1px solid #8a9fa5;
  color: #8a9fa5;
  background-color: #232f34;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);

}

.holo-codeblock p {
  margin: 0px;
}

.holo-codeblock > :first-child {
  margin-top: 0;
}

.holo-codeblock > :last-child {
  margin-bottom: 0;
}
