/* OpenBooks 9.4 core pages CSS (about, news, updates */

.row { width: 100%; display: table; table-layout: fixed; }
.col { display: table-cell; vertical-align: top;}

/* sidebar navigation */
#navbox {
    margin-top: 52px;
    padding-left: 50px;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
#navbox ul {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
    font-size: 20px;
    font-weight: 400;
}
#navbox li {
    margin-bottom: 12px;
    padding: 0;
    text-transform: lowercase;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6),0px 0px 35px rgba(255,255,255,0.6);
}
#navbox a:link {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    text-shadow: 0px 0px rgba(0,0,0,0);
    transition-duration: 1000ms;
}
#navbox li a:link {
    text-transform: lowercase;
}
#navbox a:visited {
    color: rgba(255,255,255,0.5);
}
#navbox a:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6),0px 0px 25px rgba(255,255,255,0.6);
    transition-duration: 50ms;
}
#navbox a:active {
    color: rgba(255,255,255,.6)
}
