/*
  holoLayout
  Controls base layout
*/

html {
  background-color: var(--bg-color);
}

body {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-size: var(--text-scale);
  margin: .6em auto;
  max-width: var(--page-width);
  padding: .6em;
  line-height: 1.6;
}

hr {
  border: 0;
  height: 1px;
  background: #DDD;
}
