.chooser {
    text-align: center;
}

.icon p {
    margin: 0px 20px 20px 20px;
    font-size: 1em;
    color: rgba(255,255,255,0.75)
}

.icon img {
    margin-top: 20px;
    border-radius: 25%;
    border: 2px solid white;
    transition-duration: 200ms;
}

.icon:hover img {
    filter: brightness(125%);
    box-shadow: 0px 0px 24px rgba(255,255,255,0.25);
}

.icon:active img {
    filter: brightness(75%);
}

.icon:hover p {
    color: white;
    text-decoration: underline;
}

.icon:active p {
    color: #707070;
}

.icon a {
    text-decoration: none;
}