/* OpenBooks  X - Home CSS */

@import url("/font/inter/inter.css");
@import url("/font/metropolis/metropolis.css");

html {
    cursor: default;
}

::-moz-selection {
    background: #6bbcf6;
  }
  
::selection {
    background: #6bbcf6;
}

body {
    color: white;
    background-color: #0e458b;
    background: url(/img/9bg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
    font-size: 13px;
    line-height: 1.6em;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    /*padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);*/
}
/*body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 2px 2px #0e458b;
    background-color: #0e458b;
    z-index: 100;
}*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
}
h1 {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
h2 {
    color: whitesmoke;
    color: rgba(255,255,255,.75);
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}
h3 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 24px;
    margin-bottom: 4px;
}
h4 {
    color: #f4f6f8;
    color: rgba(255,255,255,0.75);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0px;
}
h5 {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 0px;
    text-transform: lowercase;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.35);
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}
p#copy {
    text-indent: 20px;
}
p#grey {
    color: rgba(255,255,255,0.5);
}
p:active {
    cursor: text;
}

a:link {
    color: #49c468;
    text-decoration: underline;
}
a:visited {
    color: #49c468;
    text-decoration: underline;
}
a:hover {
    color: #69e686;
    text-decoration: underline;
}
a:active {
    color: #4A9C5E;
    text-decoration: underline;
}

hr {
    border: 0;
    border-bottom: 1px dashed #2b3c46;
    background: #162630;
}

.centered {
    text-align: center;
}

.statusbar {
    background-color: rgba(0,0,0,0.25);
    color: #b4b4b4;
    width: 852px;
    height: 26px;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -427px;
    overflow: hidden;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25),inset 0 -1px rgba(255,255,255,0.25),inset -1px 0 rgba(255,255,255,0.25),inset 1px 0 rgba(255,255,255,0.25),inset 0px 1px rgba(255,255,255,0.25);
    border: 1px solid rgba(0,0,0,.50);
    border-radius: 13px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1;
}
.statusbar ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    float: left;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.75);
}
.statusbar ul.right {
    float: right;
}
.statusbar li {
    float: left;
    margin: 0em;
}
.statusbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 3px 10px;
    transition-duration: 100ms;
}
.statusbar li a:hover {
    text-shadow: 0px 1px 2px rgba(0,0,0,0.75), 0px 0px 5px rgba(255,255,255,0.8);
}
.statusbar li a:active {
    text-shadow: 0px 1px 2px rgba(0,0,0,0.75), 0px 0px 5px rgba(0,0,0,0.50)
}
.statusbar li.logo {
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
    font-weight: 700;
    font-size: 14px;
    padding-top: 1px;
}
.statusbar li.indicator {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 3px 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    transition-duration: 400ms;
    text-transform: uppercase;
    font-size: 11px;
}
.statusbar li.spinner {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 5px 10px;
    height: 16px;
    width: 16px;
    background-image: url(/img/loader.png);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    image-rendering: pixelated
}

.page {
    /*background-color: #1251a0;
    background-image: url(/img/9bg.jpg);
    background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    background-size: 868px;
    background-position-x: center;
    /*border-left: 1px solid rgba(0,0,0,0.5);
    border-right: 1px solid rgba(0,0,0,0.5);
    border-top: 1px solid rgba(0,0,0,0.5);*/
    min-height: calc(100vh - 39px);
    /*max-height: calc(100vh - 26px);*/
    max-width: 868px;
    min-width: 868px;
    margin-top: 0px;
    border-radius: 16px 16px 0 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 36px;
    /*box-shadow: inset -1px 0 rgba(255,255,255,0.25),inset 1px 0 rgba(255,255,255,0.25),inset 0px 1px rgba(255,255,255,0.25);*/
}

.pagewrapper {
    background-color: #1251a0;
    background-image: url(/img/9bg.jpg);
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: 868px;
    background-position-x: center;
    border: 1px solid rgba(0,0,0,0.5);
    /*min-height: calc(100vh - 39px);*/
    /*max-height: calc(100vh - 26px);*/
    max-width: 868px;
    min-width: 868px;
    margin-top: 30px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 14px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.12), inset -1px 0 rgba(255,255,255,0.25),inset 1px 0 rgba(255,255,255,0.25),inset 0px 1px rgba(255,255,255,0.25),inset 0px -1px rgba(255,255,255,0.25);
    /*backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);*/
}

.content {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.col.content {
    width: 470px; 
    padding-right: 100px;
}

.footer {
    text-align: center;
    background-color: rgba(0,0,0,0.20);
    font-size: 14px;
    padding: 6px;
    display: inline-block;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
    font-weight: 300;
    font-size: 48px;
    color: whitesmoke;
    color: rgba(255,255,255,.6);
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: lowercase;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tbl table {
	border-collapse: collapse;
	margin-top: 4px;
	margin-bottom: 8px;
}
.tbl th {
	font-weight: bold;
	color: whitesmoke;
	text-align: left;
    font-size: 12px;
    text-transform: uppercase;
}
.tbl th, .tbl td {
    border-bottom: 1px solid rgba(255,255,255,0.20);
	padding: 4px;
}
.tbl tr:nth-child(even) {background-color: rgba(0,0,0,0.15)}

/* load handler */
.hidden {
    opacity: 0;
}
.spinner {
    transition-duration: 2000ms;
}

.row { width: 100%; display: table; table-layout: fixed; }
.col { display: table-cell; vertical-align: top;}

.header {
    margin: 50px;
    text-align: center;
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
    font-weight: 700;
    font-size: 60px;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
}

/* iconbar stuff */
.iconbar {
    text-align: center;
    margin: 30px;
}
.icon {
    text-align: center;
    display: inline-block;
}
.icon p {
    margin: 0px 40px 0px 40px;
    font-size: 1em;
    color: rgba(255,255,255,0.75);
}
.icon:hover img {
    filter: brightness(125%);
}
.icon:active img {
    filter: brightness(75%);
}
.icon:hover p {
    color: white;
}
.icon:active p {
    color: rgba(255,255,255,0.5);
}
.icon a {
    text-decoration: none;
}

.home {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.homeleft {
    width: 200px;
}
.homeright {
    padding-left: 35px;
}

.searchbox {
    width: 90%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

/* metro style left navigation */
.metronav {
    padding-top: 15px;
}
.metronav p {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    font-size: 11px;
    opacity: 50%;
}
.metronav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 3px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 50px;
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
    font-size: 36px;
    font-weight: 300;
}
.metronav li {
    margin-bottom: 30px;
    padding: 0;
}
.metronav li a:link {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
    text-shadow: 0px 0px rgba(0,0,0,0);
    transition-duration: 1000ms;
    
}
.metronav li a:visited {
    color: rgba(255,255,255,0.75);
}
.metronav li a:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6),0px 0px 15px rgba(255,255,255,0.6);
    transition-duration: 50ms;
}
.metronav li a:active {
    color: rgba(255,255,255,.6)
}

/* sidebar 88x31 buttons */
.buttons {
    text-align: center;
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.buttons img {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
    image-rendering: pixelated;
}
.button img {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
    image-rendering: pixelated;
}
.webringbuttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 38px;
    background-color: rgba(0,0,0,0.5);
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25),inset 0 -1px rgba(255,255,255,0.25),inset -1px 0 rgba(255,255,255,0.25),inset 1px 0 rgba(255,255,255,0.25),inset 0px 1px rgba(255,255,255,0.25);
    border: 1px solid rgba(0,0,0,.50);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 100;
}
.webringbuttons img {
    image-rendering: pixelated;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
}

.titles {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 10px;
}
.titleleft {
    font-size: 18px;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif;
}
.titleright {
    font-size: 22px;
    text-align: right;
    font-weight: 400;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
}

/* metro tiles */
.tiles {
    margin-top: 20px;
    width: 672px;
    margin-left: auto;
    margin-right: auto;
    /*padding-right: 100px;*/
}
.tiles a {
    text-decoration: none;
}
.tile {
    color: #444;
    margin: 8px;
    width: 150px;
    height: 150px;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid rgba(255,255,255,0.6);
    transition-duration: 250ms;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.12);
    border-radius: 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    display:inline-block;
}
.tile.wide {
    width: 318px;
}
.tile.tl {
    border-radius: 14px 4px 4px 4px;
}
.tile.tr {
    border-radius: 4px 14px 4px 4px;
}
.tile.bl {
    border-radius: 4px 4px 4px 14px;
}
.tile.br {
    border-radius: 4px 4px 14px 4px;
}
.tile:hover {
    background-color: rgba(255,255,255,0.9);
    color: #666;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
    transform: translate(0, -1px);
    transition-duration: 100ms;
}
.tile:active {
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.50);
    transform: translate(0, 1px);
}
.tileicon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 2px;
    height: 64px;
    width: 64px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
#icon{
    height: 64px;
    width: 64px;
}
.tileheader {
    position: relative;
    line-height: 1em;
    font-size: 18px;
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif;
    top: 112px;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(255,255,255,0.75), 0px 0px 14px rgba(255,255,255,0.5);
}
.tileheader.small {
    font-size: 13px;
    font-weight: bold;
    top: 114px;
}
.tileblogheader {
    font-family: 'Metropolis', 'Inter', /* web font */
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
    font-size: 16px;
    font-weight: 700;
    position: relative;
    top: -8px;
    left: 12px;
}
.tileblogpreview {
    font-size: 12px;
    line-height: 1.4;
    position: relative;
    top: -4px;
    left: 12px;
    width: 275px;
}
.tile.me {
    /*background: linear-gradient(to top, rgba(255,255,255,.90), rgba(255,255,255,.25)), url(/homes/coyote/img/me.jpg);*/
    background: linear-gradient(to top, rgba(0,0,0,.25), rgba(0,0,0,0)), url(/homes/coyote/img/headerbg.png);
    background-size: cover;
    background-position-x: center;
}
.tileheader.dark {
    color: white;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.75), 0px 0px 14px rgba(0,0,0,0.5);
}
.tileversion {
    position: relative;
    width: 100%;
    text-align: center;
    top: 22px;
    font-size: 40px;
    font-weight: 300;
    font-feature-settings: "tnum", "ss01";
    text-shadow: 0px 0px 4px rgba(255,255,255,0.75), 0px 0px 14px rgba(255,255,255,0.5);
}
.tileversion.two {
    font-size: 60px;
}
.tileversion.one {
    font-size: 80px;
}
/* green "link" in tiles */
#fakelink {
    text-decoration: underline;
    color: #4A9C5E;
}

/* TOP HITS section */
dd {
    margin-bottom: 10px;
}
/* button example on home page */
#code {
    display: inline-block;
    color: white;
    font-family: monospace;
    font-size: 12px;
    background-color: rgba(0,0,0,0.15);
    padding: 4px;
    padding-left: 8px;
    border-radius: 4px;
    margin-right: 20px;
    cursor: text;
}

/* accessibility */
@media (prefers-reduced-motion) {
    .metronav li a:link {
        transition-duration: 0ms;
    }
    .tile {
        transition-duration: 0ms;
    }
    .tile:hover {
        transition-duration: 0ms;
        transform: translate(0,0);
    }
}
