/* OpenBooks 9 Series - lite css */

.row { width: 100%; display: table; table-layout: fixed; }
.col { display: table-cell; vertical-align: top;}

html {
    cursor: default;
}

body {
    color: white;
    background-color: #0e458b;
    font-family: 
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
    font-size: 13px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    /*padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
}
h1 {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
h2 {
    color: whitesmoke;
    color: rgba(255,255,255,.75);
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}
h3 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 24px;
    margin-bottom: 4px;
}
h4 {
    color: #f4f6f8;
    color: rgba(255,255,255,0.75);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0px;
}
h5 {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 0px;
    text-transform: lowercase;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.35);
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}
p#copy {
    text-indent: 20px;
}
p#grey {
    color: rgba(255,255,255,0.5);
}
p:active {
    cursor: text;
}

a:link {
    color: #49c468;
    text-decoration: underline;
}
a:visited {
    color: #49c468;
    text-decoration: underline;
}
a:hover {
    color: #69e686;
    text-decoration: underline;
}
a:active {
    color: #4A9C5E;
    text-decoration: underline;
}

hr {
    border: 0;
    border-bottom: 1px dashed #2b3c46;
    background: #162630;
}

.centered {
    text-align: center;
}

.statusbar {
    color: #b4b4b4;
    width: 850px;
    height: 26px;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -426px;
    overflow: hidden;
    border: 1px solid #00000000;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    z-index: 1;
}
.statusbar ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    float: left;
}
.statusbar ul.right {
    float: right;
}
.statusbar li {
    float: left;
    margin: 0em;
}
.statusbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 3px 10px;
    transition-duration: 100ms;
}
.statusbar li a:hover {
    text-decoration: underline;
}
.statusbar li.logo {
    font-weight: 700;
    font-size: 14px;
}

.page {
    background-color: #1053a2;
    border-left: 1px solid #4b7cb5;
    border-right: 1px solid #4b7cb5;
    min-height: calc(100vh - 26px);
    max-width: 868px;
    min-width: 868px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 36px;
}

.content {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.col.content {
    width: 470px; 
    padding-right: 100px;
}

.footer {
    text-align: center;
    background-color: #0d4485;
    font-size: 14px;
    padding: 6px;
    display: inline-block;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    font-family:
    -apple-system, BlinkMacSystemFont, /* safari, chrome mac */
    "Segoe UI", "Roboto", "Ubuntu", /* windows, android/chromeos, ubuntu */
    "Cantarell", "Noto Sans", /* gnome, kde */
    "Lucida Grande", "Tahoma",  /* old mac, old windows */
    sans-serif; /* fallback */
    font-weight: 300;
    font-size: 48px;
    color: whitesmoke;
    color: rgba(255,255,255,.6);
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: lowercase;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

