/* Super Secret Purple Variation */
/* requires main css */

.row { width: 100%; display: table; table-layout: fixed; }
.col { display: table-cell; vertical-align: top;}

body {
    background-color: #3f386a;
}
.page {
    background-color: #3f386a;
    background-image: url(/n3/bg.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 38px;
    background-position-x: center;
}
a:link {
    color: #52e7bb;
    text-decoration: underline;
}
a:visited {
    color: #52e7bb;
    text-decoration: underline;
}
a:hover {
    color: #92f7d8;
    text-decoration: underline;
}
a:active {
    color: #e866f4;
    text-decoration: underline;
}
#header {
    color: #eeeeee;
    font-weight: bold;
    text-transform: lowercase;
    text-shadow: 4px 4px #2e274d;

}
h4 {
    color: #e866f4;
}