/* OpenBooks 8 Series Home CSS */

/* home page testing */ 
/*body {
    background: url(/img/bg.png) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
 }
.page {
    background-image: none;
    background-color: rgba(138,191,224,.25);
    border-left: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.25);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
}*/


/* metro style navigation */
.metronav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 3px;
    padding-left: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 50px;
    font-size: 42px;
    font-weight: 300;
}
.metronav li {
    margin-bottom: 30px;
    padding: 0;
}
.metronav li a:link {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
    text-shadow: 0px 0px rgba(0,0,0,0);
    transition-duration: 1000ms;
    
}
.metronav li a:visited {
    color: rgba(255,255,255,0.75);
}
.metronav li a:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6),0px 0px 25px rgba(255,255,255,0.6);
    transition-duration: 50ms;
}
.metronav li a:active {
    color: rgba(255,255,255,.6)
}

/* recently updated section */
.recently {
    color: white;
}
.recently p {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
.recently a {
    color: #ffde43;
}
.recently a:hover {
    color: white;
}

/* news ticker across the top */
.newsticker {
    /*color: #ffde43;*/
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    padding-left: 20px;
    max-width: 490px;
    overflow: hide;
    margin-bottom: 20px;
}
.newsticker a {
    color: #ffde43;
}
.newsticker a:hover {
    color: white;
}

#navbox {
    background-color: #f4f6f8;
    background-color: rgba(0,0,0,0.4);
    width: 190px;
    /*min-height: 200px;*/
    margin: 30px 30px;
    font-size: 14px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.125);
    border: 1px solid rgba(0,255,255,0.5);
}
.navboxheader {
    height: 22px;
    width: 183px;
    background: #a5b4c2;
    background: -moz-linear-gradient(top, #a5b4c2 0%, #b7c6d4 50%, #91a1b3 51%, #91a1b3 51%, #708090 100%);
    background: -webkit-linear-gradient(top, #a5b4c2 0%,#b7c6d4 50%,#91a1b3 51%,#91a1b3 51%,#708090 100%);
    background: linear-gradient(to bottom, #a5b4c2 0%,#b7c6d4 50%,#91a1b3 51%,#91a1b3 51%,#708090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5b4c2', endColorstr='#708090',GradientType=0 );
    color: #f4f6f8;
    font-size: 12px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    text-shadow: 0px 1px 2px rgba(43, 30, 30, 0.6);
    /*text-shadow: 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, 1);*/
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 1px;
    margin: 0;
    border: 1px solid #c8d1e0;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
.navboxfooter {
    height: 8px;
    width: 183px;
    background: #b6c5d3; /* Old browsers */
    background: -moz-linear-gradient(top, #b6c5d3 0%, #b1c0d0 50%, #a9baca 51%, #9cacbc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b6c5d3 0%,#b1c0d0 50%,#a9baca 51%,#9cacbc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b6c5d3 0%,#b1c0d0 50%,#a9baca 51%,#9cacbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c5d3', endColorstr='#9cacbc',GradientType=0 ); /* IE6-9*/
    padding-left: 5px;
    padding-top: 4px;
    margin: 0;
    border: 1px solid #c8d1e0;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
.navboxcontent {
    width: 170px;
    padding: 10px;
}
#navbox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbox li {
    margin-bottom: 4px;
    padding: 0;
}
