/* OpenBooks Testing CSS */

/* This is a testbed for features that may make it into future versions of OpenBooks.
   Rightnow, it is being used to test the fallback design for pages that have not been
   updated to the OpenBooks 9 style. It is meant to be a drop-in replacement for the 
   existing CSS with no changes needed to the HTML page itself.
 */

@import url("/font/inter/inter.css");

/*@font-face {
    font-family: 'Selawik';
    src: url('/font/selawk.woff2') format('woff2'), url('/font/selawk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Selawik';
    src: url('/font/selawkb.woff2') format('woff2'), url('/font/selawkb.woff') format('woff');
    font-weight: bold;
    font-style: regular;
}
@font-face {
    font-family: 'Selawik';
    src: url('/font/selawkl.woff2') format('woff2'), url('/font/selawkl.woff') format('woff');
    font-weight: 300;
    font-style: regular;
}*/

html {
    cursor: default;
}

body {
    color: white;
    background-color: #0e458b;
    font-family: 'Inter', /* use selected web font */
    -apple-system, BlinkMacSystemFont, /* mac/safari mac/chrome */
    "Segoe UI", "Roboto", "Oxygen", /* windows android/chrome, kde */
    "Ubuntu", "Cantarell", "Fira Sans", /* ubuntu gnome fireos */
    "Droid Sans", "Lucida Sans", "Lucida Grande", "Tahoma", "Helvetica Neue", sans-serif; /* oldAndroid oldMac oldMac xp trash default */
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
h1 {
    color: whitesmoke;
    color: rgba(255,255,255,.6);
    font-size: 48px;
    text-transform: lowercase;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 30px;
}
h2 {
    color: whitesmoke;
    color: rgba(255,255,255,.75);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
h3 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 16px;
    margin-bottom: 8px;
}
h4 {
    font-size: 14px;
    font-weight: 400;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}
h5 {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 0px;
    text-transform: lowercase;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.35);
}
p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
}
p:active {
    cursor: text;
}

img {
    image-rendering: crisp-edges;
}
#copy {
    text-indent: 15px;
}
#grey {
    color: #6ab0d5;
    color: rgba(255,255,255,.6);
}
#code {
    color: white;
    font-family: monospace;
    font-size: 12px;
    background-color: rgba(0,0,0,0.15);
    padding: 4px;
    padding-left: 8px;
    border-radius: 4px;
    margin-right: 20px;
}
a:link {
    color: #49c468;
    text-decoration: underline;
}
a:visited {
    color: #49c468;
    text-decoration: underline;
}
a:hover {
    color: #69e686;
    text-decoration: underline;
}
a:active {
    color: #4A9C5E;
    text-decoration: underline;
}
hr {
    border: 0;
    border-bottom: 1px dashed #2b3c46;
    background: #162630;
}
.tbl table {
	border-collapse: collapse;
	margin-top: 4px;
	margin-bottom: 4px;
}
.tbl th {
	font-weight: bold;
	color: #2c81b8;
	text-align: left;
    font-size: 12px;
    text-transform: uppercase;
}
.tbl th, .tbl td {
    border-bottom: 1px solid rgba(0,0,0,0.20);
	padding: 4px;
}
.tbl tr:nth-child(even) {background-color: rgba(0,0,0,0.15)}
.page {
    background-color: #0e458b;
    background-image: url(/img/9bg.jpg);
    background-repeat: no-repeat;
    background-size: 868px;
    border-left: 1px solid #5DC0E4;
    border-right: 1px solid #5DC0E4;
    min-height: calc(100vh - 26px);
    max-height: calc(100vh - 26px);
    max-width: 868px;
    min-width: 868px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(93,192,228,1) rgba(0,0,0,0);
    -webkit-scrollbar-color: rgba(93,192,228,0.6) rgba(0,0,0,0);
}
.navbar {
    background-color: #132e5a;
    /*background-color: orangered;*/
    color: #b4b4b4;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 868px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}
.navbar ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    float: left;
}
.navbar ul.right {
    float: right;
}
.navbar li {
    float: left;
    margin: 0em;
}
.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #d9d9d9;
    margin: 0 4px 0 0;
    padding: 2px 8px 4px 8px;
}
.navbar li a:hover {
    text-decoration: underline;
}
.column {
    float: left;
}
.left {
    width: 590px;
}
.header {
    image-rendering: pixelated;
    background-image: url(/img/header.png);
    background-repeat: no-repeat;
    min-width: 475px;
    height: 100px;
    margin-left: 20px;
}
#navbox {
    width: 190px;
    /*min-height: 200px;*/
    margin: 30px 30px;
    font-size: 14px;
}
.navboxheader {
    height: 22px;
    width: 183px;
    color: #f4f6f8;
    color: rgba(255,255,255,0.75);
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    margin-top: 50px;
}
.navboxfooter {
    display: none;
}
.navboxcontent {
    width: 170px;
    padding: 10px;
    padding-top: 0px;
    color: white;
}
#navbox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
#navbox li {
    margin-bottom: 12px;
    padding: 0;
    text-transform: lowercase;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6),0px 0px 35px rgba(255,255,255,0.6);
}
#navbox a:link {
    text-decoration: none;
    text-transform: lowercase;
    color: rgba(255,255,255,0.5);
    text-shadow: 0px 0px rgba(0,0,0,0);
    transition-duration: 1000ms;
}
#navbox a:visited {
    color: rgba(255,255,255,0.5);
}
#navbox a:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6),0px 0px 25px rgba(255,255,255,0.6);
    transition-duration: 50ms;
}
#navbox a:active {
    color: rgba(255,255,255,.6)
}
#navbox hr {
    border: 0;
    border-bottom: none;
    margin-bottom: 24px;
}

#mininav {
    border: solid rgba(0,0,0,0.4);
    border-width: 1px;
    width: 160px;
    margin-top: 10px;
    margin-bottom: 4px;
    background-color: rgba(255, 255, 255, .4);
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgba(255,255,255,.6), inset 0px 2px 2px 0px rgba(0,0,0,.1);
    /*text-align: center;*/
}
#mininav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 3px;
    padding-left: 8px;
}
#mininav li {
    margin-bottom: 4px;
    padding: 0;
    font-size: 14px;
}

.metronav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 3px;
    padding-left: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 50px;
    font-size: 42px;
    font-weight: 300;
}
.metronav li {
    margin-bottom: 30px;
    padding: 0;
}
.metronav li a:link {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
    text-shadow: 0px 0px rgba(0,0,0,0);
    transition-duration: 1000ms;
    
}
.metronav li a:visited {
    color: rgba(255,255,255,0.75);
}
.metronav li a:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6),0px 0px 25px rgba(255,255,255,0.6);
    transition-duration: 50ms;
}
.metronav li a:active {
    color: rgba(255,255,255,.6)
}

.recently p {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

#buttons {
    text-align: center;
    width: 190px;
    margin: 30px 30px;
}
#buttons img {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
    image-rendering: crisp-edges;
}

#homebuttons {
    text-align: center;
    width: 190px;
}
#homebuttons img {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
    image-rendering: crisp-edges;
}
.newsticker {
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    padding-left: 20px;
    max-width: 490px;
    overflow: hide;
    margin-bottom: 20px;
}

.content {
 padding-left: 20px;
 max-width: 680px;
 overflow: hide
}
.homenav {
    margin-top: 0px;
    margin-bottom: 20px;
    overflow: hidden;
}
.icons {
    text-align: center;
}
#footer {
    background-color: rgba(0,0,0,0.20);
    font-size: 14px;
    padding: 6px;
    display: inline-block;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 20px;
}
