<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>sidebar</title>
<link rel="stylesheet" href="../../styles/main.css" type="text/css" />
<link rel="stylesheet" href="../../styles/animate.min.css" type="text/css">
<style type="text/css">
body {
	margin-left: 5px;
	margin-top: 5px;
    background-image: url(img/sidebar.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: auto;
}
</style>
</head>

<body>
    <h1><a href="../../index.html" target="_top"><img src="img/logo.png" class="animated fadeIn"/></a></h1>
    <div class="animated fadeInUp">
    <hr style="margin-top:12px;" />
    <h1>Navigate</h1>
    <hr />
    <div id="window">
    <p style="/*margin-top:18px;*/margin-top:8px;text-align:center;"><a href="javascript:javascript:history.go(-1)"><img src="img/back.png" alt="back" /></a>
    <a href="javascript:javascript:history.go(+1)"><img src="img/forward.png" alt="forward" /></a></p>
    </div>
    <hr style="margin-top:12px;" />
    <h1>News</h1>
    <hr />
    <div id="window">
        <h3>Blog</h3>
        <p>Short blog snippet here.</p>
        <p><a href="../../pages/blog/blog.html" target="main">go to blog ></a></p>
    </div>
    <div id="window">
        <h3>Updates</h3>
        <p>OpenBooks 4.1 - Introducing the Cyberlounge!</p>
        <p><a href="../../pages/updates/updates.html" target="main">view update info ></a></p>
    </div>
    <div id="window">
        <p style="text-align:center;">An <a href="http://exley.xyz" target="_blank">Exley.xyz</a> Project.</p>
        <p style="text-align:center;">Licensed under GPLv3.</p>
    </div>
    </div>
</body>
</html>