/* ahhh */
body {
  background: black;
  background-image: url(img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #ccc;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}
.wrapper {
  width: 800px;
  background-color: rgba(0,0,0,0.25);
  box-shadow: 0 1px 4px rgba(0,0,0,0.25),inset 0 -1px rgba(255,255,255,0.25),inset -1px 0 rgba(255,255,255,0.25),inset 1px 0 rgba(255,255,255,0.25),inset 0px 1px rgba(255,255,255,0.25);
  border: 1px solid rgba(0,0,0,.50);
  border-radius: 8px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 8px;
  border-radius: 16px;
}
.headimg {
  /*background-image: url(img/headerbg.png);*/
  font-size: 24px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 48px;
  /*background-color: #8ef7fe33;*/
  image-rendering: pixelated;
  color: white;
  text-shadow: 2px 2px black;
}
.nav {
  border-top: 1px solid rgba(255,255,255,0.25);
  border-bottom: 1px solid rgba(255,255,255,0.25);
	text-align: center;
	margin: 0px;
	padding: 5px;
  margin-bottom: 10px;
}
.content {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
.footer {
  text-align: center;
  color: #aaa;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
  image-rendering: pixelated;
  line-height: 2;
  border-top: 1px solid rgba(255,255,255,0.25);
}
/* i copied these columns from a tutorial on w3schools. i am so lame */
.column {
  float: left;
  padding-right: 10px;
}
.sidebar {
  width: 220px;
  padding-left: 20px;
}
.main {
  min-width: 510px;
  padding-left: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
a:link {
	color: #a4e885;
  text-decoration: none;
}
a:visited {
	color: #a4e885;
  text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: underline; 
	/*border-bottom:1px dashed;*/
}
a:active {
	color: #8ef7fe;
	text-decoration: underline; 
	/*border-bottom:1px dashed;*/
}
hr {
  clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
    background: #000;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283245', endColorstr='#283245', GradientType=1 );
}
h1 {
  text-transform: lowercase;
  letter-spacing: 0.1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #fff;
  border-bottom: 1px dashed #aaa;
  margin-top: 4px;
}
h2 {
  margin-bottom: 5px;
  color: rgb(115, 178, 197);
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}
p {
  margin: 0px;
  line-height: 1.4;
}
#copy {
  text-indent: 8px;
  margin-bottom: 8px;
}
.buttons {
  margin-top: 10px;
  text-align: center;
  image-rendering: pixelated;
}
.label{
	color: white;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	margin-top: 4px;
	margin-bottom: 4px;
}
th {
	font-weight: bold;
	color: #668;
	text-align: center;
	font-size: 14px;
}
th, td {
    border-bottom: 1px solid #444;
	padding: 4px;
}
tr:nth-child(even) {background-color: #222}
ul{
	list-style-type: square;
}
.icon p {
  margin: 0px 20px 20px 20px;
  font-size: 1em;
  
}

.icon img {
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid black;
  height: 64px;
  width: 64px;
  filter: saturate(0%);
  transition-duration: 200ms;
}

.icon:hover img {
  filter: saturate(100%);
  border: 2px solid white;
}

.icon:active img {
  filter: brightness(75%);
}

.icon:hover p {
  color: white;
}

.icon:active p {
  color: #707070;
}

.icon a {
  text-decoration: none;
}
.icons {
  text-align: center;
}
