/* ahhh */
html {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  cursor: default;
}
body {
  background: #4A0000;
  color: #ccc;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 8px;
}
.headimg {
  font-size: 72px;
  font-weight: bold;
  line-height: 48px;
  height: 70px;
  color: white;
  text-shadow: 4px 4px 0px rgba(255,255,255,0.25);
}
.nav {
  border-top: 1px solid rgba(255,255,255,0.25);
  border-bottom: 1px solid rgba(255,255,255,0.25);
	margin: 0px;
	padding: 5px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  color: #aaa;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
  image-rendering: pixelated;
  line-height: 2;
  border-top: 1px solid rgba(255,255,255,0.25);
}
.column {
  float: left;
}
.sidebar {
  width: 220px;
}
.main {
  min-width: 540px;
  max-width: 540px;
  padding-left: 40px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
a:link {
	color: rgb(255, 112, 112);
  text-decoration: underline;
  transition-duration: 20ms;
}
a:visited {
	color: rgb(255, 112, 112);
  text-decoration: underline;
}
a:hover {
	color: black;
	text-decoration: none;
  background-color: red;
}
a:active {
	color: red; 
  background-color: white;
}
hr {
  clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
  background: rgba(255,255,255,0.25);
  
}
h1 {
  text-transform: lowercase;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  margin-top: 4px;
  margin-bottom: 0px;
}
h2 {
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
p {
  margin: 0px;
  line-height: 1.4;
}
#copy {
  text-indent: 8px;
  margin-bottom: 8px;
}
.buttons {
  margin-top: 10px;
  text-align: center;
  image-rendering: pixelated;
}
.label{
	color: white;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	margin-top: 4px;
	margin-bottom: 4px;
}
th {
	font-weight: bold;
	color: #668;
	text-align: center;
	font-size: 14px;
}
th, td {
    border-bottom: 1px solid #444;
	padding: 4px;
}
tr:nth-child(even) {background-color: #222}
ul{
	list-style-type: square;
}
.icon p {
  margin: 0px 20px 20px 20px;
  font-size: 1em;
  
}

.icon img {
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid black;
  height: 64px;
  width: 64px;
  filter: saturate(0%);
  transition-duration: 200ms;
}

.icon:hover img {
  filter: saturate(100%);
  border: 2px solid white;
}

.icon:active img {
  filter: brightness(75%);
}

.icon:hover p {
  color: white;
}

.icon:active p {
  color: #707070;
}

.icon a {
  text-decoration: none;
}
.icons {
  text-align: center;
}
