<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>chrome</title>
<link rel="stylesheet" href="dock.css" type="text/css" />
<script type="text/javascript">
					var tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
					var tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");
					
					function GetClock(){
					var d=new Date();
					var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate();
					var nhour=d.getHours(),nmin=d.getMinutes(),ap;
					if(nhour==0){ap=" am";nhour=12;}
					else if(nhour<12){ap=" am";}
					else if(nhour==12){ap=" pm";}
					else if(nhour>12){ap=" pm";nhour-=12;}
					
					if(nmin<=9) nmin="0"+nmin;
					
					document.getElementById('clockbox1').innerHTML=""+nhour+":"+nmin+ap+"";
					document.getElementById('clockbox2').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+"";
					}
					
					
					window.onload=function(){
					GetClock();
					setInterval(GetClock,1000);
					}
</script>
<style type="text/css">
body {
    margin-top: 10px;
    background-color: #000;
	color: #FFF;
  	background-image: url(img/dockbg.png);
	background-repeat: repeat;
    text-shadow: 2px 2px #000;
}
#clockbox1 {
	font-size: 24px;
	font-family: 'Lato', Helvetica, Arial,;
	font-weight: 300;
	color: #00bfd7;
    text-align: center;
    text-shadow: 1px 1px #000;
}

#clockbox2 {
    font-size: 14px;
    font-family: 'Lato', Helvetica, Arial;
	text-align: center;
    text-shadow: 2px 2px #000;
}
</style>
</head>

<body>
	<div id="clockbox1"></div>
	<div id="clockbox2"></div>
</body>
</html>