/* OpenBooks NX Features CSS */
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300);

body {
    background: url(../NX/img/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contentNX {
    width: 708px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

.menuNX {
	font-size: 36px;
    font-weight: 300;
}

.logotypeNX {
    font-size: 48px;
    text-align: right;
    font-weight: 300;
    margin-right: 70px;
    margin-bottom: 0px;
}
.subtitleNX {
    font-size: 16px;
    text-align: right;
    font-weight: 700;
    margin-right: 70px;
    margin-top: 0px;
    text-transform: uppercase;
}