body {
    margin-top: 10px;
}
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0);
    z-index: 100;
}
 .author {
	 font-size: 11px;
	 font-family: Arial, Helvetica, sans-serif;
 }
 .date {
	 font-size: 11px;
	 text-align: right;
	 font-family: Arial, Helvetica, sans-serif;
 }
 .footer {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-indent: 0px;
}
p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
	text-indent: 25px;
}
h1 {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
    text-shadow: 2px 2px #000;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: none;
}
h2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 4px;
}
h3 {
	font-family: 'Times New Roman', Times, serif;
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 16px;
    text-shadow: 1px 1px #000;
    font-weight: 700;
    letter-spacing: 5px;
    color: #00bfd7;
    font-style: oblique;
}
.dropcap { 
	float: left; 
	color: #00bfd7; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: 'Times New Roman', Times, serif;
}
table {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0);
}
hr {
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
    background: #000;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283245', endColorstr='#283245', GradientType=1 );
}
#content {
    width: 600px;
    padding-left: 50px;
    padding-right: 50px;
}