/* ahhh */
body {
  background: black;
  color: #ccc;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}
.wrapper {
  width: 600px;
  border: 1px solid #feed8e;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 8px;
}
.headimg {
  background-image: url(img/headerbg.png);
  height: 200px;
  image-rendering: crisp-edges;
}
.nav {
  border-top: 1px solid #feed8e;
  border-bottom: 1px solid #feed8e;
	text-align: center;
	margin: 0px;
	padding: 5px;
  margin-bottom: 10px;
}
.content {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
.footer {
  text-align: center;
  color: #aaa;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  image-rendering: crisp-edges;
  line-height: 2;
}
/* i copied these columns from a tutorial on w3schools. i am so lame */
.column {
  float: left;
  padding-right: 10px;
}
.sidebar {
  width: 180px;
  padding-left: 10px;
}
.main {
  max-width: 390px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
a:link {
	color: #85e8cb;
  text-decoration: none;
}
a:visited {
	color: #85e8cb;
  text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: underline; 
	/*border-bottom:1px dashed;*/
}
a:active {
	color: #feed8e;
	text-decoration: underline; 
	/*border-bottom:1px dashed;*/
}
hr {
  border: 0;
  border-top: 1px dashed #aaa;
}
h1 {
  text-transform: lowercase;
  letter-spacing: 0.1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #fff;
  border-bottom: 1px dashed #aaa;
  margin-top: 4px;
}
h2 {
  margin-bottom: 5px;
  color: rgb(161, 161, 209);
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}
p {
  margin: 0px;
  line-height: 1.4;
}
#copy {
  text-indent: 8px;
  margin-bottom: 8px;
}
.buttons {
  margin-top: 10px;
  text-align: center;
  image-rendering: crisp-edges;
}
.label{
	color: white;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	margin-top: 4px;
	margin-bottom: 4px;
}
th {
	font-weight: bold;
	color: #668;
	text-align: center;
	font-size: 14px;
}
th, td {
    border-bottom: 1px solid #444;
	padding: 4px;
}
tr:nth-child(even) {background-color: #222}
ul{
	list-style-type: square;
}
