/* ChromeBooks Main CSS */
body {
	margin-left: 5px;
	margin-top: 5px;
	color: #FFF;
	background-attachment: fixed;
}
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
}
p {
	font-size: 12px;
	margin: 2px;
}
.subtitle {
	font-size: 10px;
	font-style: oblique;
	text-align: center;
}
h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 18px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
}
h2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
}
h3 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 16px;
}
a:link {
	color: #FFF;
}
a:visited {
	color: #FFF;
}
a:hover {
	color: #F0F;
}
a:active {
	color: #0F0;
}
.updates {
	color: #FFF;
	text-align: center;
	font-family: 'Verdana', 'Geneva', 'Tahoma', Arial, sans-serif;
	font-size: 12px;
}
.buttons {
	text-align: center;
}
.buttons img {
	margin: 2px;
}
#content {
  width: 502px;
  margin-left: auto;
  margin-right: auto;
}
.navlist {
	padding: 8px;
	padding-top: 0;
	margin-top: 0;
}
.navlist p {
	margin: 4px;
	margin-bottom: 8px;
}

.navlist h3 {
	margin: 0;
}
dl {
	margin-top: 02px;
	margin-right: 0px;
	margin-bottom: 04px;
	margin-left: 0px;
}
