/* OpenBooks 8 Series Home CSS */

@import url("../font/inter/inter.css");

/*@font-face {
    font-family: 'Selawik';
    src: url('../font/selawk.woff2') format('woff2'), url('../font/selawk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Selawik';
    src: url('../font/selawkb.woff2') format('woff2'), url('../font/selawkb.woff') format('woff');
    font-weight: bold;
    font-style: regular;
}
@font-face {
    font-family: 'Selawik';
    src: url('../font/selawkl.woff2') format('woff2'), url('../font/selawkl.woff') format('woff');
    font-weight: 300;
    font-style: regular;
}*/

html {
    cursor: default;
}

body {
   color: white;
   background-color: #0e458b;
   background: url("../img/9bg.jpg") no-repeat center center fixed;
   background-size: cover;
   font-family: 'Inter', /* use selected web font */
   -apple-system, BlinkMacSystemFont, /* mac/safari mac/chrome */
   "Segoe UI", "Roboto", "Oxygen", /* windows android/chrome, kde */
   "Ubuntu", "Cantarell", "Fira Sans", /* ubuntu gnome fireos */
   "Droid Sans", "Lucida Sans", "Lucida Grande", "Tahoma", "Helvetica Neue", sans-serif; /* oldAndroid oldMac oldMac xp trash default */
   font-size: 14px;
   line-height: 20px;
   margin: 0;
   padding: 0;
}
h1 {
    color: whitesmoke;
    color: rgba(255,255,255,.6);
    font-size: 48px;
    text-transform: lowercase;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 30px;
}
h2 {
    color: whitesmoke;
    color: rgba(255,255,255,.75);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
h3 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 16px;
    margin-bottom: 8px;
}
h4 {
    color: #f4f6f8;
    color: rgba(255,255,255,0.75);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 0px;
}
h5 {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 0px;
    text-transform: lowercase;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.35);
}
p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
}
p:active {
    cursor: text;
}

#copy {
    text-indent: 15px;
}
#grey {
    color: #6ab0d5;
    color: rgba(255,255,255,.6);
}
#code {
    color: white;
    font-family: monospace;
    font-size: 12px;
    background-color: rgba(0,0,0,0.15);
    padding: 4px;
    padding-left: 8px;
    border-radius: 4px;
    margin-right: 20px;
}
a:link {
    color: #49c468;
    text-decoration: underline;
}
a:visited {
    color: #49c468;
    text-decoration: underline;
}
a:hover {
    color: #69e686;
    text-decoration: underline;
}
a:active {
    color: #4A9C5E;
    text-decoration: underline;
}
hr {
    border: 0;
    border-bottom: 1px dashed #2b3c46;
    background: #162630;
}
.tbl table {
    border-collapse: collapse;
    margin-top: 4px;
    margin-bottom: 8px;
}
.tbl th {
    font-weight: bold;
    color: #2c81b8;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
}
.tbl th, .tbl td {
    border-bottom: 1px solid rgba(0,0,0,0.20);
    padding: 4px;
}
.tbl tr:nth-child(even) {background-color: rgba(0,0,0,0.15)}
.page {
    background-color: #1251a0;
    background-image: url("../img/9bg.jpg");
    background-repeat: no-repeat;
    background-size: 868px;
    border-left: 1px solid #5DC0E4;
    border-right: 1px solid #5DC0E4;
    min-height: calc(100vh - 26px);
    max-height: calc(100vh - 26px);
    max-width: 868px;
    min-width: 868px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(93,192,228,1) rgba(0,0,0,0);
    -webkit-scrollbar-color: rgba(93,192,228,0.6) rgba(0,0,0,0);
}
.navbar {
    background-color: #132e5a;
    /*background-color: orangered;*/
    color: #b4b4b4;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 868px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}
.navbar ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    float: left;
}
.navbar ul.right {
    float: right;
}
.navbar li {
    float: left;
    margin: 0em;
}
.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #d9d9d9;
    margin: 0 4px 0 0;
    padding: 2px 8px 4px 8px;
}
.navbar li a:hover {
    text-decoration: underline;
}
.column {
    float: left;
}
.left {
    width: 590px;
}
.header {
    image-rendering: pixelated;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 475px;
    height: 40px;
    margin: 30px;
    margin-left: 20px;
}


#mininav {
    border: solid rgba(0,0,0,0.4);
    border-width: 1px;
    width: 160px;
    margin-top: 10px;
    margin-bottom: 4px;
    background-color: rgba(255, 255, 255, .4);
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgba(255,255,255,.6), inset 0px 2px 2px 0px rgba(0,0,0,.1);
    /*text-align: center;*/
}
#mininav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 3px;
    padding-left: 8px;
}
#mininav li {
    margin-bottom: 4px;
    padding: 0;
    font-size: 14px;
}

.metronav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 3px;
    padding-left: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 50px;
    font-size: 42px;
    font-weight: 300;
}
.metronav li {
    margin-bottom: 30px;
    padding: 0;
}
.metronav li a:link {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
    text-shadow: 0px 0px rgba(0,0,0,0);
    transition-duration: 1000ms;
    
}
.metronav li a:visited {
    color: rgba(255,255,255,0.75);
}
.metronav li a:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6),0px 0px 25px rgba(255,255,255,0.6);
    transition-duration: 50ms;
}
.metronav li a:active {
    color: rgba(255,255,255,.6)
}

.recently p {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

#buttons {
    text-align: center;
    width: 190px;
    margin: 30px 30px;
}
#buttons img {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
    image-rendering: crisp-edges;
}

#homebuttons {
    text-align: center;
    width: 190px;
}
#homebuttons img {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
    image-rendering: crisp-edges;
}
.newsticker {
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    padding-left: 20px;
    max-width: 490px;
    overflow: hide;
    margin-bottom: 20px;
}

.content {
 padding-left: 20px;
 max-width: 680px;
 overflow: hide
}
.homenav {
    margin-top: 0px;
    margin-bottom: 20px;
    overflow: hidden;
}
.icons {
    text-align: center;
}
#footer {
    background-color: rgba(0,0,0,0.20);
    font-size: 14px;
    padding: 6px;
    display: inline-block;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* metro style navigation */
.metronav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 3px;
    padding-left: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 50px;
    font-size: 42px;
    font-weight: 300;
}
.metronav li {
    margin-bottom: 30px;
    padding: 0;
}
.metronav li a:link {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
    text-shadow: 0px 0px rgba(0,0,0,0);
    transition-duration: 1000ms;
    
}
.metronav li a:visited {
    color: rgba(255,255,255,0.75);
}
.metronav li a:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6),0px 0px 25px rgba(255,255,255,0.6);
    transition-duration: 50ms;
}
.metronav li a:active {
    color: rgba(255,255,255,.6)
}

/* recently updated section */
.recently {
    color: white;
}
.recently p {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
.recently a {
    color: #ffde43;
}
.recently a:hover {
    color: white;
}

/* news ticker across the top */
.newsticker {
    /*color: #ffde43;*/
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    padding-left: 20px;
    max-width: 490px;
    overflow: hide;
    margin-bottom: 20px;
}
.newsticker a {
    color: #ffde43;
}
.newsticker a:hover {
    color: white;
}

#navbox {
    background-color: #f4f6f8;
    background-color: rgba(0,0,0,0.4);
    width: 190px;
    /*min-height: 200px;*/
    margin: 30px 30px;
    font-size: 14px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.125);
    border: 1px solid black;
}
.navboxheader {
    height: 22px;
    width: 183px;
    background: #a5b4c2;
    background: -moz-linear-gradient(top, #a5b4c2 0%, #b7c6d4 50%, #91a1b3 51%, #91a1b3 51%, #708090 100%);
    background: -webkit-linear-gradient(top, #a5b4c2 0%,#b7c6d4 50%,#91a1b3 51%,#91a1b3 51%,#708090 100%);
    background: linear-gradient(to bottom, #a5b4c2 0%,#b7c6d4 50%,#91a1b3 51%,#91a1b3 51%,#708090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5b4c2', endColorstr='#708090',GradientType=0 );
    color: #f4f6f8;
    font-size: 12px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    text-shadow: 0px 1px 2px rgba(43, 30, 30, 0.6);
    /*text-shadow: 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, 1);*/
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 1px;
    margin: 0;
    border: 1px solid #c8d1e0;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
.navboxfooter {
    height: 8px;
    width: 183px;
    background: #b6c5d3; /* Old browsers */
    background: -moz-linear-gradient(top, #b6c5d3 0%, #b1c0d0 50%, #a9baca 51%, #9cacbc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b6c5d3 0%,#b1c0d0 50%,#a9baca 51%,#9cacbc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b6c5d3 0%,#b1c0d0 50%,#a9baca 51%,#9cacbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c5d3', endColorstr='#9cacbc',GradientType=0 ); /* IE6-9*/
    padding-left: 5px;
    padding-top: 4px;
    margin: 0;
    border: 1px solid #c8d1e0;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
.navboxcontent {
    width: 170px;
    padding: 10px;
}
#navbox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbox li {
    margin-bottom: 4px;
    padding: 0;
}
